/*CSS reset settings here*/
/*
*{
 margin: 0px;
 padding: 0px;
}
*/
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 padding: 20px;
 height: 590px;
 
}
#header{
 height: 150px;
 background-color: green;
 margin-bottom: 20px; 
 position: relative;
 display: block;
}
#navigation{
 height: 300px;
 width: 200px;
 display: inline-block;
 background-color: blue;
 margin-right: 20px;
 
}
#main_content{
 height: 400px;
 width: 710px;
 background-color: red;
 display: inline-block;
 position: absolute;
 margin-top: 0px;
 padding: 10px;
}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 /*position: absolute;*/
 margin: 5px;
 display: inline-block;
}
#advertisement{
 height: 120px;
 width: 660px;
 background-color: purple;
 margin-left: 5px;
 margin-top: 15px;
}