table {
    border-collapse: collapse;
    width: 50%;
    margin-left: 5px;
}
table, th, td {
    border: 2px solid orange;
}
th {
    text-align: center;
    padding: 10px;
    background-color: gray;
    color: white;
}
td{
    vertical-align: middle;
    padding: 10px;
    text-align: center;
}
.button{
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}
