<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Destination</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'belt/stylesheets/trip.css' %}">
    </head>
    <body>
        <div class="nav-bar">
            <table class="nav">
                <tr>
                    <th class="right-col"></th>
                    <th class="left-col">
                        <button type="button" onclick="location.href='/travels'" class="button">Home</button>
                        <form action='/logout' method='post'>
                            {% csrf_token %}
                            <input type="submit" value="Log out" class="button">
                        </form>
                    </th>
                </tr>
            </table>
        </div>
        <div class="trip-details">
            <h2>{{trip.destination}}</h2>
            <ul>
                <li>Planned by: {{trip.user.first_name}}</li>
                <li>Description: {{trip.description}}</li>
                <li>Travel Date From: {{trip.start}}</li>
                <li>Travel Date To: {{trip.stop}}</li>
            </ul>
        </div>
        <div class="trip-group">
            <h3>Other users' joining the trip:</h3>
            <ul>
                {% if trip.plan.all %}
                {% for person in trip.plan.all %}
                <li>{{person.first_name}} {{person.last_name}}</li>
                {% endfor %}
                {% else %}
                <li>No one so far.</li>
                {% endif %}
            </ul>
        </div>
    </body>
</html>
