<h2 style="text-decoration:underline">Add a new order</h2>
<form name="orderForm" ng-submit="create()">
    <p>Customer:
        <select ng-options="customer as customer.customer_name for customer in customers track by customer._id" ng-model="formData.customer"></select>
    </p>
    <p>
        Order:
        <select ng-model="formData.quantity">
            <option ng-repeat="i in getNumber(formData.product.product_quantity) track by $index">{{$index+1}}</option>
        </select>
        <select ng-options="product as product.product_name for product in products track by product._id" ng-model="formData.product"></select>
    </p>
    <input type="submit" value="Order" class="button">
</form>
<input class='searchbar' type="text" ng-model = 'order_filter' placeholder="Search for an order...">
<table>
    <tr>
        <th ng-click="sortType='_customer.customer_name'; sortReverse=!sortReverse">Customer Name</th>
        <th ng-click="sortType='_product.product_name'; sortReverse=!sortReverse">Product</th>
        <th ng-click="sortType='item_quantity'; sortReverse=!sortReverse">Quantity</th>
        <th ng-click="sortType='created_at'; sortReverse=!sortReverse">Date</th>
    </tr>
    <tr ng-repeat="order in orders | orderBy:sortType:sortReverse | filter: order_filter track by $index">
        <td>{{ order._customer.customer_name }}</td>
        <td>{{ order._product.product_name }}</td>
        <td>{{ order.item_quantity }}</td>
        <td>{{ order.created_at | date: 'MMMM d, yyyy' }}</td>
    </tr>
</table>
