<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojo Secrets</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'secrets/stylesheets/style1.css' %}">
    </head>
    <body>
        <div class="nav-bar">
            <table>
                <tr>
                    <th class="right-col">Most popular Dojo Secrets</th>
                    <th class="left-col"><a href="{% url 'secrets_home'%}">Back</a></th>
                </tr>
            </table>
        </div>
        {% if messages %}
        <div class="error-messages">
            <ul>
            {% for msg in messages %}
                <li>{{msg}}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="popular-secrets">
            {% if secrets %}
            <table>
                {% for secret in secrets %}
                <tr>
                    <td>{{secret.message}}</td>
                    <td>({{secret.created_at}})</td>
                    <td>{{secret.like.count}} liked</td>
                    {% if user in secret.like.all %}
                    <td>You liked</td>
                    {% else %}
                    <td><a href='/like/{{secret.id}}'>Like</a></td>
                    {% endif %}
                    {% if secret.user.id == user.id %}
                    <td>
                        <form action='/delete' method='post'>
                            {% csrf_token %}
                            <input type="hidden" name="secret_id" value="{{secret.id}}">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h3>No secrets have been posted yet.</h3>
        </div>
        {% endif %}
    </body>
</html>
