<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ one_friend.first_name }}</title>
    </head>
    <body>
        <div class="current-info">
            <h2>Current information for: {{ one_friend.first_name }}</h2>
            <p>First name: {{ one_friend.first_name }}</p>
            <p>Last name: {{ one_friend.last_name }}</p>
            <p>E-mail: {{ one_friend.email }}</p>
            <p>Last updated: {{ one_friend.updated_at }}</p>
        </div>
    </body>
</html>
