.nav-bar{
    width: 100%;
}
.nav{
    width: 100%;
    border: none;
}
.nav th, td{
    border: none;
    background-color: white;
    color: black;
}
.right-col{
    padding: 15px;
    text-align: left;
    vertical-align: top;
    font-size: 30px;
}
.left-col{
    text-align: right;
    vertical-align: middle;
    padding: 15px;
}
.left-col button, form, input {
    display: inline-block;
}
.button{
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}
