/*CSS RESET*/
* {
    padding: 0px;
    margin: 0px;
}
body{
    white-space: nowrap;
}
.header {
    /*background-color: green;*/
    padding: 5px 20px 5px 5px;
}
.header h2, p, form {
    display: inline-block;
    vertical-align: top;
}
.header h2{
    width: 30%;
}
.header p{
    margin-top: 5px;
    width: 60%;
    text-align: right;
}
.header form{
    margin: 5px 0px 0px 10px;
    width: 10%;
}
.post-msg {
    /*background-color: orange;*/
    padding: 10px;
    white-space: normal;
}
.post-msg textarea{
    display: block;
}
.post-msg p{
    margin-top: 5px;
}
.show-msg {
    /*background-color: red;*/
    padding: 10px;
    white-space: normal;
}
.comment-area{
    margin: 5px 30px 5px 30px;
    /*background-color: purple;*/
}
.post-comment{
    margin: 5px 30px 5px 30px;
    /*background-color: green;*/
}
.post-comment textarea{
    display: block;
}
.post-comment p{
    margin-top: 5px;
}
