<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Wall</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/wall.css') }}"/>
        <!-- <link rel="stylesheet" type="text/css" href="wall.css"> -->
    </head>
    <body>
        <div class="header">
            <h2>CodingDojo Wall</h2>
            <p>Welcome, {{ specific_user.first_name }}</p>
            <form action='/logout' method='post'>
                <input type="submit" value="Log out">
            </form>
        </div>
        <hr>
        <div class="post-msg">
            <form action='/message' method='post'>
                <h3>Post a message</h3>
                <input type="hidden" name="user_id" value="{{ specific_user.id }}" >
                <textarea name="message" rows="5" cols="50"></textarea>
                <p><input type="submit" value="Post a message"></p>
            </form>
        </div>
        <div class="show-msg">
            <h3>[NAME] - [DATE]</h3>
            <p>[Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.]</p>
            <div class="comment-area">
                <h3>[COMMENTER] - [DATE]</h3>
                <p>[Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum.]</p>
            </div>
            <div class="post-comment">
                <form action='/comment' method='post'>
                    <h3>Post a comment</h3>
                    <textarea name="comment" rows="3" cols="40"></textarea>
                    <p><input type="submit" value="Post a comment"></p>
                </form>
            </div>
        </div>
    </body>
</html>
