<form ng-submit="add()">
    <p>Name: <input type='text' ng-model='newPlayer.player_name'> <input type="submit" value="Add Player" class="button"></p>
</form>
<table>
    <tr>
        <th ng-click="sortType='player_name'; sortReverse=!sortReverse">Name</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="player in players | orderBy:sortType:sortReverse track by $index">
        <td>{{ player.player_name }}</td>
        <td><button class='button' ng-click='remove(player)'>Remove Player</button></td>
    </tr>
</table>
