<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pacman</title>
        <link rel="stylesheet" type="text/css" href="style1.css">
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script src="script.js" defer></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="left">
				<div id="game_world"></div>
			</div>
			<div id="right">
				<div id="player1" class="score_board">
					<span class="player_name">Player 1</span>
					<span class="score">0</span>
				</div>
				<div id="player2" class="score_board">
					<span class="player_name">Player 2</span>
					<span class="score">0</span>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>

			<p>Conversation Board</p>
			<div id="message_board"></div>
			<form id="new_message">
				<input type="text" id="message" placeholder="enter your message here" />
				<input type="submit" value="send" />
			</form>
		</div>
    </body>
</html>
