<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Log In</title>
    </head>
    <body>
        <div class="login-area">
            <form action='/login' method='post'>
                <h2>Please log in:</h2>
                <p><label for="mail">E-mail address: <input type="text" name="mail"></label></p>
                <p><label for="password">Password: <input type="password" name="password"></label></p>
                <input type="submit" value="Login">
            </form>
        </div>
    </body>
</html>
