.nav-bar{
    width: 100%;
}
.right-col{
    padding: 15px;
    text-align: left;
    vertical-align: top;
    font-size: 30px;
}
.left-col{
    text-align: right;
    vertical-align: middle;
    padding: 15px;
}
textarea{
    display: block;
    margin-bottom: 5px;
}
.add-secret a{
    margin-left: 10px;
}
