<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>All my Friends!</title>
    </head>
    <body>
        <h2>These are all my friends</h2>
        <hr>
        {% for friend in all_friends: %}
            <p>ID: {{ friend['id'] }}</p>
            <p>First Name: {{ friend['first_name'] }}</p>
            <p>Last Name: {{ friend['last_name'] }}</p>
            <p>E-mail: {{ friend['email'] }}</p>
            <form action='/friends/<id>/edit' method='POST'>
                <input type="hidden" name="todo" value={{ friend['id'] }}>
                <input type="submit" value="EDIT">
            </form>
            <form action='/friends/<id>/delete' method='POST'>
                <input type="hidden" name="todo" value={{ friend['id'] }}>
                <input type="submit" value="DELETE">
            </form>
            <hr>
        {% endfor %}
        <h2>Add a Friend</h2>
        <form action='/friends' method='POST'>
            <label for="first_name">First Name: <input type="text" name="first_name" id="first_name"></label>
            <label for="last_name">Last Name: <input type="text" name="last_name" id="last_name"></label>
            <label for="mail">E-mail: <input type="text" name="mail" id="mail"></label>
            <input type="submit" value="Add">
        </form>
    </body>
</html>
