<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Message Board</title>
    </head>
    <body>
        <h1>The Dojo Message Board</h1>
        <hr>
        <form action='/addmessage' method='post'>
            <p>Name: <input type="text" name="username"></p>
            <p>Message: <input type="text" name="message"></p>
            <input type="submit" value="Post message">
        </form>
    </body>
</html>
