<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Email Validation</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="error-messages">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form action='/success' method='post'>
            <label for="mail">Email address: <input type="text" name="mail" id="mail"></label>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
