<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Success!</title>
    </head>
    <body>
        <div class="success-message">
            <h1>The email address you entered ({{latest}}) is a VALID email address! Thank you!</h1>
        </div>
        <table>
            <p>Email Addresses Entered</p>
            <tr>
                <th>Email</th>
                <th>Created at</th>
            </tr>
            {% for item in all_emails %}
            <tr>
                <td>{{ item['email'] }}</td>
                <td>{{ item['created_at'] }}</td>
            </tr>
            {% endfor %}
        </table>
        <form action='/delete' method='post'>
            <label for="delete-mail">Delete this e-mail address: <input type="text" name="mail" id="mail"></label>
            <input type="submit" value="Confirm">
        </form>
    </body>
</html>
